// colors
$body_background_color: #ffffff;
$primary_color: #016aff;
$white_color: #ffffff;
$text_color: #083159;
$button_background_color: #016aff;

$x_color: #016aff;
$x_background_color: #f3f8ff;
$x_border: 1px solid #016aff;

$y_color: #ff49ad;
$y_background_color: #fff2f9;
$y_border: 1px solid #ff49ad;

// font family
$font-family: 'Nunito Sans', sans-serif;
$responsive_width: 1024px;