$background_color: #f5f6f8;
$secondary_color: #1e1c57;
$secondary_light_color: #515F96;
$text_color: #083159;
$font-family: 'Nunito Sans', sans-serif;
$responsive_width: 1024px;
$primary_color: #f56e28;
$text_black:#202020;