
// colors
$body_background_color: #ffffff;
$primary_color: #016aff;
$text_color: #202020;
$text_light_black:#071712;

$text_grey:#7f8899;
$text_hax:#868686;


$text_extra_light:#9ea6b7;
$text_positive:#00a25b;
$text_negative:#fc5a5a;
$label_positive:#00d684;
$text_black:#6c6969;

$bg_grey:#f3f4f6;
$bg_heading:#f5f6f8;
$bg_light:#fbfdff;


$bg_light_green:#f0fef8;
$bg_pink:#fffafa;
// font family
$font-family: 'Lato', sans-serif;

$theme_border: #e5e5e5;
$border_light:#cfd4dc;
$table_border: #ebeef2;
