@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.ipo-scope {
    @import "~bootstrap/scss/bootstrap.scss";
  
    @import "./theme_2.scss";
  
    @import "./custom.scss";

    font-size: 16px;
    font-weight: 400;
    font-family:$font-family;
    background-color: $body_background_color;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $text_color;
}
