$background_color: #f5f6f8;
$primary_color: #1e1c57;
$primary_light_color: #515F96;
$text_color: #083159;
$font-family: 'Nunito Sans', sans-serif;
$responsive_width: 1024px;
$button_background_color: #f56e28;
$card-bg-color: transparent;
$card-bdr-color: #f3f4fa;
$body_background_color: #ffffff;
