@import '../../../../../_assets/css/stockreport/variables';
@import '../../../../../_assets/css/stockreport/fonts';

.ruler {
    width: 100%;
    max-height: 50px;
    position: relative;
    
    // background-image: url('../../../assets/images/combined-shape.svg');
   

    &::before , &::after {
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: 0.06px;
        color: #202020;
    }
    &::before {
        content: "Buy";
        position: absolute;
        left: -30px;
        top: calc((100% - 14px) / 2);
    }

    &::after {
        content: "Sell";
        position: absolute;
        right: -30px;
        top: calc((100% - 14px) / 2);
    }
}
.chartIndicator {
   margin-left: -4px;
}
.line {
    position: absolute;
    bottom: -2.5rem;
}
.text {
    position: relative;
    bottom: 9px;
    left: 10px;

    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: 0.08px;
    color: #202020;
}
.rulerImage {
    max-height: 50px;
}