
// Updated colors
$primary_color: #016aff;
$text_color: #202020;
$body_background_color: #ffffff;
$text_light_black: #373737;
$text_grey:#7f8899;
$link_color: $primary_color;
$buy-color: #4184f3;
$sell-color: #ff5722;
$more-color: #ffffff;
$more-border: #6e6e6e;
$external-text-color: #fff;
$card-bg-color: transparent;
$card-bdr-color: #f3f4fa;
$nav-bdr-color: #cfd4dc;

$text_positive: #10bc52;
$text_negative: #fc5a5a;
$text_orenge:#ff7c1c;
$text_light:#707070;
$text_extra_light:#9ea6b7;

$primary_bg: #0078ff;
$bg_grey: #f5f6f8;
$bg_negative: #fc5a5a;
$bg_positive: #00a25b;
$bg_yellow: #ffc542;
$bg_cyan:#00ffff;
$bg_purple:#800080;
$bg_pink:#ff00ff;
$bg_orenge:#ffa500;
$bg_dark: #f7f8f9;
$bg_aquamarine:#7fffd4;
$bg_indigo:#4b0082;
$white_color: #ffffff;

$progress_bar:linear-gradient(to right, #ffeaad -12%, #ff853c 107%);
$transparent:transparent;
$border_light:#e5e5e5;
$border_dark:#cfd4dc;
$border_table:#e6e8eb;
$border_none:none;
$bg_status:#f3f4fa;

// colors

// font family
$font-family: "Lato", sans-serif;

$filter_positive: none;
$filter_negative: none;
